@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,
body {
    height: 100%;
    /* font-size: 1.111vw; */
}

/* @media screen and (max-width: 767px) {
    html {
        font-size: 16px;
    }
} */

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
    outline: none;
    border: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

:root {
    --success: #05b259;
    --danger: #fb0003;
    --normal: #ebf10a;
    --pending: #1e293b;
    --finished: #3440eb;
}

body {
    font-family: "Sora", sans-serif;
    line-height: 1.5;
}

.wrapper {
    padding: 0.694vw;
    margin: 0 auto;
    font-size: 1.111vw;
}

.status_success {
    background-color: var(--success);
    color: white;
    animation: blink 1.5s infinite;
}

.status_normal {
    background-color: var(--normal);
}

.status_danger {
    background-color: var(--danger);
}

.status_pendding {
    background-color: var(--pending);
}

.status_finished {
    background-color: var(--finished);
}

@keyframes blink {
    50% {
        background-color: white;
        color: black;
    }
}